.flex-container {
   
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 767px) {
      width: $mobile;
      display: block;
    }
    @media screen and (min-width: $tablet) {
      width: $tablet;
      display: flex;
    }
    @media screen and (min-width: $desktop) {
      width: $desktop;
      display: flex;
    }
  }
  .footer-container {
    display: flex;
    
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: $mobile) and (max-width: 767px) {
      width: $mobile;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      width: $tablet;
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: space-between;
     
     
    }
    @media screen and (min-width: $desktop) {
      width: $desktop;
      align-items: baseline;
      justify-content: space-around;
      
    }
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 767px) {
      width: $mobile;
      display: block;
    }
    @media screen and (min-width: $tablet) {
      width: $tablet;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @media screen and (min-width: $desktop) {
      width: $desktop;
    }
  }
  .header-container {
    display: flex;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    
    @media screen and (min-width: $tablet) {
      width: $tablet;
    }
    @media screen and (min-width: $desktop) {
      width: $desktop;
    }
  }
  .clients-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (max-width: 767px) {
     width: $mobile;
    }
    @media screen and (min-width: $tablet) {
      width: $tablet;
    }
    @media screen and (min-width: $desktop) {
      width: $desktop;
    }
  }