.logo {
    width: 145px;
    
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-head-color);
    @media screen and (max-width: 767px) {
      display: block;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }

    @media screen and (min-width: $tablet) {
      margin-right: 88px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 93px;
      font-size: 26px;
    }
  }
  .logo__text {
    color: var(--accent-text-color);
    font-family: var(--secondary-font);
  }
  .logo__text--primary {
    color: var(--logo-head-color);
  }
  .logo__text--secondary {
    color: var(--primary-bg-color);
  }