.team {
    margin: 0;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--special-bg-color);

  @media screen and (min-width: $tablet) {
    display: flex;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

    &__title {
        margin: 0;
        margin-bottom: 30px;
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;

        @media screen and (min-width: $desktop) {
          margin-bottom: 50px;
        }
      }
      
      &__name {
        margin-top: 0;
        margin-bottom: 10px;
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
      }
      &__list {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
        color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
       

        @media screen and (min-width: $tablet) {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: $tablet;
          margin: -30px;
        }
        @media screen and (min-width: $desktop) {
          width: $desktop;
          align-items: flex-start;
          justify-content: space-between;
        }
      }
      
      &__card {
        width: 450px;
        height: 622px;
       

        @media screen and (min-width: $tablet) {
        width: 354px;
        height: 536px;
        }
      
        @media screen and (min-width: $desktop) {
        width: 270px;
        height: 428px;
        }
      }
      
      &__content {
        background-color: #ffffff;
        text-align: center;
        padding-top: var(--card-set-gap);
        padding-bottom: var(--card-set-gap);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
      }
     
      &-socials {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 16px;
      }
      &-socials__item {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        width: 44px;
        height: 44px;
        fill: var(--primary-bg-color);
        
      }
      &-socials__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: var(--primary-bg-color);
        border-radius: 50%;
      
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &-socials__link:hover,
&-socials__link:focus {
  background-color: var(--accent-text-color);
}
&-socials__icon {
    fill: var(--icon-color);
  }
  &-socials__link:hover &-socials__icon,
  &-socials__link:focus &-socials__icon {
    fill: var(--primary-bg-color);
    
  }
}
  @media screen and (max-width: 767px) {
    .team__item:not(:last-child) {
      margin-bottom: var(--card-set-gap);
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    .team__item {
      width: calc((100% - 2 * 60px) / 2);
      margin: 30px;
    }
  }

    @media screen and (min-width: $desktop) {
      .team__list > .team__item {
        width: 270px;
        margin-right: var(--card-set-gap);
      }
      .team__list > .team__item:last-child {
        margin-right: 0;
      }
    }